@page "/ConstructionCommercial"
@model DemoCon.Pages.ConstructionCommercial.indexModel
@{
    ViewData["Title"] = "index";
}
<link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />

<link href="~/css/site.css" rel="stylesheet"/>
<div class="a">
    <h1 class="title">
        Construction Commercial
    </h1>
    <div class="container">
        <img src="https://iili.io/Flf5xt.md.jpg" alt="Flf5xt.md.jpg" border="0">
        <h2 class="container">
            Demo-Con is here to suit your commercial construction needs. Contact us now to get your risk free quote.
        </h2>
    </div>
</div>