@page "/BleacherInspection"
@model DemoCon.Pages.BleacherInspection.BleacherInspectionModel
@{
    ViewData["Title"] = "BleacherInspection";
}
<link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
<link href="~/css/site.css" rel="stylesheet" />
<h1 class="title"> Bleacher Maintenance & Inspection Checklist </h1>
<div class="a">
    <div class="container">
        Demo-Con facility solutions is the Rio Grande Valley’s Most Trusted Bleacher Company. Our recommendation to all of our clients is to regularly maintain their bleachers to ensure the safety of the auidence. Inspections should be routinely checked every year and if needed bolt fastening may be accompanied. In addition, at least biennially, a bleacher inspection should be performed by a professional engineer or a registered architect.

        We’ve developed two maintenance and bleacher inspection checklists for our clients to easily download below. One is for our clients with elevated bleachers and the other is for our clients with non-elevated bleachers.

        Elevated Bleacher Maintenance Checklist

        Non-elevated Bleacher Maintenance Checklist


        Wear and tear on bleachers is unique to the type of bleachers you have and their environment. If you use portable bleachers, confirm that they are secured according to manufacturer specifications and local building codes when they’re being used. When you are finished, be sure to store them properly to allow them to last. If you use permanent outdoor bleachers and live in a high-rainfall area, consider making the bleachers slip-resistant. This will help protect your crowds from unintentional slips and falls.

        Bleacher Safety Regulations
        The CPSC (Consumer Protection Safety Commission) has developed a series of regulations to prevent injuries on bleachers and grandstands. For example, considering guardrails, they should be designed so as not to encourage young children to climb over them. They recommend a picket fence guardrail with no more than four inches between pickets and generally any opening in guardrails should prevent a 4-inch sphere from passing through.

        Considering the deckboards, they recommend the addition of risers in the spaces below the seat boards and above the footboards. The riser should also prevent a 4-inch sphere from passing through. The CPSC recommends you should consider having aisles and handrails and non-skid surfacing on your bleachers. This helps prevent people from falling while accessing and walking on your bleachers.

        Bleacher Maintenance Checklist
        Bleacher Understructure Inspection

        Check for proper anchor/ground sill attachment
        Check frame and cross brace location
        Check all bolt connections
        Check all weld connections
        Plank Inspection

        Check for straightness
        Check for splices/rivets
        Check all bolt connections
        Check end caps
        Guardrail Inspection

        Check for proper location of the rail post
        Check all bolt connections
        Check pipe connections and related fittings
        Check splices and rivets
        Check chainlink fabric for neatness at ends and corners
        Check for adequate wire tie attachment
        Aisles

        Check for proper width and location
        Check all stiffeners for proper location
        Check end caps and rivets
        Check aisle handrail for proper location
        Check all bolt connections
        Entry Stairs

        Check for proper attachment to the bleacher
        Check for proper location
        Check all bolt connections
        Check rail pipe connections and related fittings
        *If Your bleachers have a ramp, platform, or wheelchair seating areas, consider checking the following items.

        Ramp and Platform

        Check for proper attachment to bleachers
        Check for proper location
        Check all bolt connections
        Check pipe connections and related fittings
        Check chainlink fabric for neatness at ends
        Check for adequate wire tie attachments
        Wheelchair Seating Areas

        Check for proper location
        Check all bolt connections
        Check frame and brace location
        Check companion seat brace location
        Check pipe connections and related fittings
        Check riser end caps and rivets
    </div>
</div>