
<img src="https://iili.io/2MiKB9.png" alt="2MiKB9.png" border="0" height="100" width="2000" />
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="StyleSheet.css" rel="stylesheet" />

</head>
<div class="a">
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Construction Services <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="/ConstructionCommercial"> Construction Commerical </a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Facility Services <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="/BleacherInspection"> Bleacher Inspection </a></li>
                        <li> <a href=""> Bleacher Installation </a></li>
                        <li> <a href=""> Stadium Repair </a></li>
                        <li> <a href=""> Stadium Demolition </a></li>
                        <li> <a href=""> Classroom Administration Portal </a></li>
                    </ul>
                </li>
                <li><a href="/whyus">Why Us?</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Locations <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href=""> Houston Metropolitan area </a></li>
                        <li> <a href=""> Rio Grande Valley </a></li>
                    </ul>
                </li>
                <li><a href="/ContactHome">Contact Us</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
</body>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
   </div>

</html>
</div>