@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
<link href="~/css/site.css" rel="stylesheet" />  <div class="a">
    <div class="container">
        <div class="text-center">

            <h1 class="title"> Our Journey Began in 2015. </h1> <div class="carousel-inner">
                <div class="carousel-item active">

                    <img class="d-block w-100" src="https://iili.io/2MgbAN.md.jpg" alt="First slide">
                    <h3>
                    </h3>
                    <div class="wp-block-media-text_media">
                    </div>

                    <div class="leftdiv">

                    </div>

                    <div class="rightdiv">

                        <div class="container">

                            During this time we began our goal of being a leading comapny for facility solutions,
                            engineering and construction of civil works and buildings
                            We have the tools and experience to help your vision come to life. No project is too big or small.
                        </div>
                    </div>
                    <div>
                        <div class="container">
                            <img src="https://iili.io/Fl36ss.md.jpg" alt="Fl36ss.md.jpg" border="0">
                        </div>
                    </div>
                </div>
            </div>

            Why us? Well because Demo-Con gives you insight on how development progress is made using our real time tracking system.
            Demo-Con allows you to see the progress of any construction/facility solution operation with photos of the site in real time.
            Demo-Con is a family owned company and will always try to build relationships with buyers at low-cost competitve rates.
            Demo-Con Facility solutions has years of operation and we have established a reputation as a company who is trustworthy and reputable.
        </div>
    </div>
</div>