@page "/whyus"
@model DemoCon.Pages.WhyUs.WhyUsModel
@{
    ViewData["Title"] = "WhyUs";
}
<link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
<link href="~/css/site.css" rel="stylesheet" />  <div class="a">
    <div class="a">
        <h1 class="title">Why us? </h1>

        <div class="container">
            We hold ourselves accountable to the highest standard. Our organization is working on the clock to make ourselves and affordable, reliable solution.
        </div>
    </div>
